:host { display: inline-flex; }

.org-chip {
  &--gradient.org-chip--primary { --mdc-chip-elevated-container-color: var(--org-primary); }
  &--gradient.org-chip--accent { --mdc-chip-elevated-container-color: var(--org-accent); }
  &--success { --mdc-chip-elevated-container-color: var(--org-success); }
  &--warning { --mdc-chip-elevated-container-color: var(--org-warning); }
}
