:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-inline: auto;
  padding: 16px 12px 48px;

  @media (min-width: 600px) {
    padding: 32px 16px 64px;
  }
}

.org-page-layout {
  &--narrow .org-page-layout__container {
    max-width: 600px;
    margin-inline: auto;
  }

  &--default .org-page-layout__container {
    max-width: 960px;
    margin-inline: auto;
  }

  &--wide .org-page-layout__container {
    max-width: 1200px;
    margin-inline: auto;
  }

  &--full .org-page-layout__container {
    max-width: 100%;
  }
}

.org-page-layout__container {
  width: 100%;
  box-sizing: border-box;
}
