:host {
  align-items: center;
  display: inline-flex;
  min-height: 48px;
}

.org-checkbox {
  --mdc-checkbox-selected-focus-icon-color: var(--org-primary);
  --mdc-checkbox-selected-hover-icon-color: var(--org-primary);
  --mdc-checkbox-selected-icon-color: var(--org-primary);
}
